*{
    transition: all .3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Segoe UI";
}

body{
    background: white;
    user-select: none; 
}

.drop{
    box-shadow: 0px 0px 12px black;
}

nav{
    color: #2D2D2D;
    position: fixed;
    height: 72px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    font-family: "Varela Round" !important;
    background:rgba(255,255,255,0.97);
}

.newsflash{
    top:72px;
    width:100%;
    position:relative;
    text-transform: uppercase;
    background:rgba(255,221,69,0.97);
}

nav ul{
    list-style: none;
}

nav ul li{
    padding-top: 25px;
    padding-right: 0 !important;    
    display: inline-block;
    vertical-align: top;
}

nav ul li img{
    margin-top: -24px;
    margin-bottom: -20px;
    height: 70px;//57px;
}

nav ul li img:hover{
    opacity: .5;
    cursor: pointer;
}

nav ul li a{
    padding:20px;
    text-decoration: none;
    color:#0D992D;
    font-size: 17px ;//new
}

nav ul li a:not(#menubtn):hover{
    color: white;
    background: #0D992D;
}

nav ul .active a{
    font-weight: 800;
}

.dish{
    background: #0D992D;
    color: white;
    padding: 25px;
    text-align: center;
}

.dish input[type="button"]{
    background:transparent;
    color:white;
    border: 2px solid white;
    padding: 6px;
    font-size: 20px;
}

.dish input[type="button"]:hover{
    background:white;
    color:#0D992D;
    border: 2px solid #0D992D;
    padding: 6px;
    cursor: pointer
}

.emphasise{
    color: #0D992D;
    font-style: oblique;
}

.midbox{
    margin-bottom: 8%;
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
}

.midbox h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 5%;
    letter-spacing: 1px;
}

.midbox p{
    text-align: justify;
    color:black;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.midbox img:not(.gal){
    max-width: 100%;
}

.plist{
    text-align: justify;
    color:black;
    list-style-type: none;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 20px;
    padding-top: 5px;
    line-height: 24px;
}

.midbox ul{
    margin-left: 20px;
    color:black;
}

.col-main{
    color:#0D992D;
}

footer{
    background: #2D2D2D;
    color:white;
    text-align: center;
    padding: 30px;   
}

.not{
    text-decoration: line-through;
    color:gray;
}

table, th, td{
    text-align: center;
}

tr{
    height:30px;
}

tr:nth-child(even){
    background:#fff;
}

tr:nth-child(odd){
    background: #eee;
}

table{
    border: 2px solid #2D2D2D;
}

li.powerVisible.exception {
    padding-left: 2% !important;
}

.midbox .splish h1{
    font-size: 160px;
    color:black;
}

.midbox .splish h3{
    font-size: 50px;
    color:black;
}

.splish{
    width:33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.step{
    list-style-type: circle;
}

.step li{
    color:black;
    margin-left: 100px;
    font-size: 30px;
}

.layer{
    background: #eee;
    border-radius: 4px;
    padding: 2% 20%;
}

.layer .f{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

.lightbox{
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    text-align: center;
    display: inline;
    vertical-align: middle
}

.lightbox img.master{
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0px 0px 12px black;
    border-radius: 4px;
    margin-top: 80px;
}

.hidden{
    visibility: hidden;
    pointer-events: none
}

.border-menu{
    visibility: hidden;
    pointer-events: none;
}

.floaty_left{
    max-width: 60%;
    position: absolute;
    left: 0;
    padding-top: 50px;
    padding-left: 50px;
}

.floaty_left img{
    max-width: 60%;
    height: auto;
}

img.rounded{
    border-radius: 5%;
    max-width: 50% !important; 
    height: auto;
    background: gray;
}


@media (max-width: 450px), (max-width: 780px) { /* FOR IPHONE */
    nav{
        height: 70px;
    }
    .midbox{
        margin-left: 10%;
        margin-right: 10%
    }
    .dashList{
        margin-left: 0px !important
    }
    .plist{
        margin-left: 5px !important
    }

    .gal{
        max-width: 100% !important;
    }

    nav ul li{
        display: block;
    }

    nav ul{
        background:rgba(255,255,255,0.87);
    }

    #menubtn{
        text-align: center;
        position: fixed;
        right: 0;
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
    }

    nav ul li:not(.powerVisible), nav ul li:not(.powerVisible) a{
        height: 0px;
        padding: 0;
        pointer-events: none;
        /*visibility: collapse;*/
        opacity: 0;
    }

    nav ul li:not(.exception){
        text-align: center;
    }

    .border-menu{
        visibility: visible;
        pointer-events: auto;
    }

    .floaty_left{
        max-width: 0%;
        position: absolute;
        left: 0;
        padding-top: 0px;
        padding-left: 0px;
    }

    .floaty_left img{
        max-width: 0%;
        height: auto;
    }
}


@media (max-width: 780px) { /* FOR IPAD */
    nav{
        height: 80px;
        font-size: 25px;
    }
    nav ul li a{
        padding-left: 12px;
        padding-right: 12px;
    }
    .powerVisible{
        text-align:center;
        padding-top: 30px;
    }
    .gal{
        max-width: 40% !important;
    }
    .menu-border:before{
        top:0.5em !important;
    }

    .floaty_left{
        max-width: 0%;
        position: absolute;
        left: 0;
        padding-top: 0px;
        padding-left: 0px;
    }

    .floaty_left img{
        max-width: 0%;
        height: auto;
    }
}
