*{
    transition: all .3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    /*background:#DDD;*/
    background: white;
    user-select: none; 
}

.drop{
    box-shadow: 0px 0px 12px black;
}

nav{
    background: white;
    color: #2D2D2D;
    position: fixed;
    height: 59px;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    /*box-shadow: 0px 0px 12px black;*/
    font-family: "Varela Round" !important;
}

nav ul{
    list-style: none;
}

nav ul li{
    padding: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;    
    display: inline-block;
    vertical-align: top;
}

nav ul li img{
    margin-top: -20px;
    margin-bottom: -20px;
    height: 57px;
}

nav ul li img:hover{
    background:#ADADAD;
    opacity: .5;
    cursor: pointer;
}

nav ul li a{
    padding:20px;
    text-decoration: none;
    color:#2D2D2D;
}

nav ul li a:hover{
    color:white;
    background:#ADADAD
}

nav ul .active a{
    /*background : #CC474C;*/
    font-weight: 800;
    /*color:White;*/
}

.owl-carousel div img{
    width: 100% !important;
}

.owl-carousel{
    max-height: 400px !important;
    overflow-y: hidden !important;
    /*box-shadow: 0px 0px 6px black;*/
}

/*.owl-carousel:hover{
    max-height: 512px !important;
    box-shadow: 0 0 0 transparent;
}*/

.dish{
    background: #CC474C;
    color: white;
    padding: 25px;
    text-align: center;
}

.dish input[type="button"]{
    background:transparent;
    color:white;
    border: 2px solid white;
    padding: 6px;
    font-size: 20px;
}

.dish input[type="button"]:hover{
    background:white;
    color:#CC474C;
    border: 2px solid #CC474C;
    padding: 6px;
    cursor: pointer
}

.midbox{
    margin-left: 6%;
    margin-right: 6%;
}

.midbox h1{
    font-size: 40px;
    text-align: center;
}

.midbox p{
    text-align: justify;
    color: gray
}

.midbox ul{
    margin-left: 20px;
    color:gray;
}

.col-main{
    color:#1589CF;
}

footer{
    background: #2D2D2D;
    color:white;
    text-align: center;
    padding: 30px;   
}

.not{
    text-decoration: line-through;
    color:gray;
}

table, th, td{
    text-align: center;
}

tr{
    height:30px;
}

tr:nth-child(even){
    background:#fff;
}

tr:nth-child(odd){
    background: #eee;
}

table{
    border: 2px solid #2D2D2D;
}

.midbox .splish h1{
    font-size: 160px;
    color:#2D2D2D;
}

.midbox .splish h3{
    font-size: 50px;
    color:#2D2D2D;
}

.splish{
    width:33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.step{
    list-style-type: circle;
}

.step li{
    color:black;
    margin-left: 100px;
    font-size: 30px;
}

.layer{
    background: #eee;
    border-radius: 4px;
    padding: 2% 20%;
}

.layer .f{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}