.col33{
  width: 33%;
  display: inline-block;
}

@media screen and (max-width:988px) {
  .col33{
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (max-width:665px) {
  .col50{
    width: 100% !important;
    display: block;
    margin-bottom: 15px;
  }
}

.paddleft2{
  padding-left: 2%;
}
.paddright2{
  padding-right: 2%;
}
.floatleft{
  float: left;
}
.floatright{
  float: right;
}

.col50{
  display: inline-block;
  width: 48%;
  vertical-align:top;
  margin-bottom: 15px;
}

.container img:not(.ign){
  margin-top: 50px;
  max-width: 100%;
  box-shadow: 0px 0px 12px black;
}

.container{
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  padding: 1%;
  height: inherit;
}

.joinbox{
  margin: 0;
  padding: 15px;
  text-align: center;
  border: 1px solid white;
}

.joinbox:hover{
  box-shadow: 0px 0px 16px black;
  background: #1D1D1D;
  transition: all .8s;
}

.joinbox a{
  text-decoration: none;
  color: white;
}

.joinbox a i{
  font-size: 72px;
}

.joinbox a:hover{
  color: #3aa344;
  transition: all .5s;
}

.ulmaster{
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid white;
}

.liheader{
  padding: 15px;
  margin: 0;
  width: inherit;
  text-align: center;
  background: #6bad47
}

.litem{
    padding: 12px;
    margin: 0;
    width: inherit;
    text-align: center;
}

.limaster{
  padding: 15px;
  margin: 5px;
  width: inherit;
  text-align: center;
  background: #ad4747;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 0px transparent !important;
}

.centre{
    text-align: center;
}