body{
	animation-name: TitleBlurIn;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: reverse;
}

*{
	font-family: 'Roboto';
	color:white;
}

section {
	padding-top:40px;
	margin-top:50px;
}

.bk-color-red {
	background-color:#ff0000;
}

.bk-color-green {
	background-color:#07BB00;
}

.bk-color-light-blue {
	background-color:#BB00BB;
}

.bk-color-blue {
	background-color:#0052FF;
}
.bk-color-brown {
	background-color:#EB8F2D;
}
.bk-color-black {
	background-color:#000000;
}
.bk-color-white {
	background-color:#FFF;
}
.fr-color-black{
	color:black;
}
.fr-color-white{
	color:white;
}

.sectionA{
	padding-top:50px;
	background: url("../assets/VariousPoses.jpg") no-repeat 50% 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	min-height:650px;
	color:#fff;
}

.sectionB{
	padding-top:100px;
	width: 100%;
	display: block;
	height: auto;
	min-height:650px;
	color:#fff;
}
.bgWhite{
	background: white;
	color:black;
}
.bgBlack{
	background: black;
	color:white;
}


@KeyFrames TitleBlurIn{
	from{
		-webkit-filter: blur(0px);
	}
	to{
		-webkit-filter: blur(50px);
	}
}

.whiteText{
	color:white;
}

.masterHeading{
	color:white;
	text-align: center;
	font-size: 64px;
}

.centerize{
	text-align: center;
}

.fullVeil{
	left: 0;
	right: 0;
	position: fixed;
}

.btn {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	background: rgba(0,0,0,0.5);
	border-radius: 3px;
	font-family: Roboto;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	text-decoration: none;
	vertical-align: bottom;
	bottom:5;
	position: relative;
	-webkit-box-shadow: 0 0 32px #000;
}

.btn:hover {
	background: rgba(0,0,0,1);
	color:#f00;
	text-decoration: none;
	border: solid #f00 2px;
	-webkit-box-shadow: 0 0 2px #f00;
}

/* ===========================================================
   NAVBAR CHANGES   
   ============================================================*/
   .navbar {
   	font-size: 14px;
   }

   .navbar-inverse {
   	background: rgba(0,0,0,1);
   }

   .navbar-inverse .navbar-nav > .active > a {
   	background: #ffffff;
   }

   .navbar-inverse .navbar-brand {
   	color: #ffffff;
   	font-weight: bolder;
   	font-size: 25px;
   	font-weight:900;
   	letter-spacing: 2px;
   }
   .navbar-inverse :hover .navbar-brand:hover {
   	color: red;	
   }
   .navbar-inverse .navbar-nav > li > a {
   	color: #FFFFFF;
   }

   .navbar-inverse .navbar-nav > li > a:hover{
   	color: red;
   }

/*=======================================
    HOME SECTION STYLES
==================================================*/


.head-btn-one {
    background-color: rgba(184, 64, 252, 1);
     border: 0px solid #fff;

}

#home-sec {
    padding-top:100px;
    background: url(../assets/VariousPoses.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:650px;
    color:#fff;
}
.head-main {
    padding-left: 10px;
    padding-right: 10px;
    font-size:65px ;
    font-weight:100;
    background-color:rgba(0,0,0,0.3);
}


/*=======================================
    SNIPPERIMAGE SECTION STYLES
==================================================*/

.sts-img {
     padding-bottom:50px;
    background: url(../assets/MrPorter.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
   min-height:200px;
    color:#fff;
}

.stats-div {
    text-align:center;
    width: 100%;
}

.stats-div > h3 {
    font-size:40px;
    font-weight:100;
}

