<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>smite - Create</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="../scripts/Nitro.js"></script>
	<script src="../scripts/create.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>
		<div class="paleContainer morn"></div>
		<div class="veil"></div>
		<div class="paleContainer">
			<br>
			<h1 style="font-size:60px">Create</h1>
			<br>
			<div class="smartVeil">
				<div>
					<p>Application Name (no spaces): </p> <input id="aname" type="text" value=""> <br><br>
					<p>Save-in folder: </p> <input id="afolder" type="text" value=""><br><br>
					<input type="button" value="Create" onclick="gocreate()">
				</div>
			</div>
		</div>
		<div class="smar" onclick="window.history.back()">
			<i class="material-icons">keyboard_backspace</i>
		</div>
</body>
</html>