<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>smite</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="../scripts/Nitro.js"></script>
	<script src="../scripts/index.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>
    
		<div class="paleContainer">
			<img src="../assets/smite.png" alt="">
			<h1>Smite</h1>
			<br>
			<div class="vbtnContainer">
				<div class="vbtn" onclick="setType(1); location.href='create.html';">
					<i class="material-icons">create</i><br>
					<p>Create</p>
				</div>
				<div class="vbtn" onclick="setType(2);">
					<i class="material-icons">folder_open</i><br>
					<p>Open</p>
				</div>
				<div class="vbtn vdisabled">
					<i class="material-icons">play_circle_outline</i><br>
					<p>Run</p>
				</div>
				<div class="vbtn vdisabled">
					<i class="material-icons">style</i><br>
					<p>Finalize</p>
				</div>
			</div>
			<br>
	</div>
</body>
</html>