.triplet{
	width: 33%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
		background: transparent;
		color: #1D1D1D;
	border-radius: 4px;
	padding: 15px;
}

.triplet h1 i{
	font-size: 80px;
}


.floaty{
	position: fixed;
	right: 3px;
	top: 80px;
	width: 25%;
	padding: 15px;
	background: #1FBFBF;
	border-radius: 3px;
}

.floaty a{
	text-decoration: none;
	color:white;
	font-style: italic;
	padding-left: 15px;
}

.floaty a:hover:before{
	content: '> ';
}

.floaty a:hover{	
	color:gray;
}

.sidebar{
	width: 75%;
	padding-left: 8%;
	padding-right: 8%;
}

@media  screen and (max-width:985px) {
	.triplet{
		width: 30%;
		border-radius: 2px;
		margin: 4px;
		padding: 10px;
	}
	
	.container-large{
		text-align: center;
		padding-left: 1% !important;
		padding-right: 1% !important;
	}
	.sidebar{
		width: 100%;
		padding-left: 8%;
		padding-right: 8%;
	}
	.floaty{
		position: static;
		width: 100%;
		padding: 15px;
		background: transparent;
		border-radius: 0;
		border: 0;
		box-shadow: none;
		text-align: center;
	}
	.floaty a{
		text-decoration: none;
		color:#1FBFBF;
		font-style: italic;
		padding-left: 0px;
	}	
	.floaty a:hover:before{
		content: '*';
	}	
	.floaty a:hover:after{
		content: '*';
	}	
	.floaty a:hover{	
		color:gray;
	}
}

@media  screen and (max-width:730px) {
	.triplet{
		width: 90%;
		display: block;
		border-radius: 2px;
		margin: 4px;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		background: transparent;
		color: #1FBFBF;
		border: 2px solid #1FBFBF;
	}
	.container-large{
		text-align: center;
		padding-left: 2% !important;
		padding-right: 2% !important;
	}
	
}

@media  screen and (max-width:512px) {
	.triplet{
		width: 100%;
		display: block;
		border-radius: 0;
		margin-bottom: 4px;
		padding: 10px;
	}
		
}

.container-mid{
	padding-left: 12%;
	padding-right: 12%;
	text-align: center;
}

.container{
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

.container-large{
	text-align: center;
	padding-left: 8%;
	padding-right: 8%;
}

.cop-blue{
	background: #1FBFBF;
	color:white;
	width:100%;
	text-align: center;
	padding: 15px;
}

.cop-blue *{
	color:white;
}

.lefty{
	text-align: left;
}

.sidebar h1:before{
	content: '#';
	color:#1FBFBF;
}

.sidebar h1{
	color:#1D1D1D;	
}

.sidebar ul li{
	margin-left: 30px
}

.depreciated{
	opacity: 0.5;
	transition: opacity .4s;
}

.depreciated h1:before{
	color:#cc3333;
	content: 'Depreciated:// ';
}

.depreciated:hover{
	opacity: 1;
	transition: opacity .4s;
}

table tr th{
	background: #1D1D1D;
	color:#1FBFBF;
}

table tr td{
	text-align: left;
	padding:2px;
	background: white;
}

table{
	background:#1D1D1D;
	border-radius: 3px
}

table tr td:first-child{
	text-align: center;
}