*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', 'Oxygen', 'Roboto', sans-serif;
}

.new{
	border-radius: 4px;
	background: #CC3333;
	color:white;
	display: inline-block;
	padding:2px;
	font-size: .5em;
	vertical-align: top;
}

.updated{
	border-radius: 4px;
	background: #32BF27;
	color:white;
	display: inline-block;
	padding:2px;
	font-size: .5em;
	vertical-align: top;
}

nav ul li a:hover{
	color:#1FBFBF;
}

nav ul li a{
	color:white;
	vertical-align: middle;
	text-decoration: none;
	padding: 8px;
	height: 40px;
}

nav ul li{
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 40px;
}

nav ul{
	list-style: none;
	height: 40px;
	text-align: right;
}

nav{
	height: 40px;
	background: #1D1D1D;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width:100%;
}

.tagleft{
	padding: 10px;
	vertical-align: middle;
	text-align: left;
	float: left;
}


.blockfill{
	padding: 20px;
	width: 100%;
}

.roundtxt{
	font-size: 4em;
	text-align: center;
}


.mid{
	font-size: 2em;
	text-align: center;
}

.snip{
	color:gray;
	text-align: right;
	font-size: 10px;
}

footer{
	background: #3D3d3D;
	width: 100%;
	color:white;
	text-align: center;
	padding: 15px;
	vertical-align: middle;
	margin-top: 50px;
}

.button{
	background: #1FBFBF;
	color: white;
	border-radius: 3px;
	padding: 15px;
	font-size: 30px;
	border: 1px solid #1FBFBF;
	transition: all .4s;
	text-decoration: none;
}

.button:hover{
	cursor: pointer;
	background: #CC3333;
	border: 1px solid #CC3333;
	color: white;
	transition: all .4s;
}

hr{
	border: 2px solid #1FBFBF;
}

.super{
	font-size: 20px;
	color:white;
	background: #1FBFBF;
	width: 100%;
	text-align: center;
	padding: 15px;
}

.super:before{
	content: '{';
}

.super:after{
	content: '}';
}

pre code{
	border-radius: 3px;
	text-align: left;
}