*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Varela Round', 'Oxygen', 'Roboto', sans-serif;
	transition: all .3s;
}

.new{
	border-radius: 4px;
	background: #CC3333;
	color:white;
	display: inline-block;
	padding:2px;
	font-size: .5em;
	vertical-align: top;
}

.updated{
	border-radius: 4px;
	background: #32BF27;
	color:white;
	display: inline-block;
	padding:2px;
	font-size: .5em;
	vertical-align: top;
}

nav ul li a:hover{
	color:#1FBFBF;
}

nav ul li a{
	color:white;
	vertical-align: middle;
	text-decoration: none;
	padding: 8px;
	height: 40px;
}

nav ul li{
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 40px;
}

nav ul{
	list-style: none;
	height: 40px;
	text-align: right;
}

nav{
	height: 40px;
	background: #1D1D1D;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width:100%;
    z-index: 99999;
}

.tagleft{
	padding: 10px;
	vertical-align: middle;
	text-align: left;
	float: left;
}


.blockfill{
	padding: 20px;
	width: 100%;
}

.roundtxt{
	font-size: 4em;
	text-align: center;
}


.mid{
	font-size: 2em;
	text-align: center;
}

.snip{
	color:gray;
	text-align: right;
	font-size: 10px;
}

footer{
	background: #3D3d3D;
	width: 100%;
	color:white;
	text-align: center;
	padding: 15px;
	vertical-align: middle;
	margin-top: 50px;
}

.button{
	background: #1FBFBF;
	color: white;
	border-radius: 3px;
	padding: 8px;
	font-size: 26px;
	border: 1px solid #1FBFBF;
	transition: all .4s;
	text-decoration: none;
	display: block;
}
.button > span{
	display: none;
}

.button:hover{
	cursor: pointer;
	background: #CC3333;
	border: 1px solid #CC3333;
	color: white;
	transition: all .4s;
}

.button:hover > span{
	display: inline;
	color: #1FBFBF;
	font-style: italic;
}

.button:hover > span:before{
	content: " - ";
}

hr{
	border: 2px solid #1FBFBF;
}

.super{
	font-size: 20px;
	color:white;
	background: #1FBFBF;
	width: 100%;
	text-align: center;
	padding: 15px;
}

.super:before{
	content: '{';
}

.super:after{
	content: '}';
}

pre code{
	border-radius: 3px;
	text-align: left;
}

.content-main{
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.content-main:hover{
    background: #ADADAD;
}

.content-main ul{
    padding-left: 20px;
}

.content-left{
    float: left;
    width: 20%;
    background: #2D2D2D;
    padding: 15px;
    color:#1FBFBF;
}

.content-right{
    width: 80%;
    float: left;
    background:white;
    box-shadow: 0px 0px 8px black;
    z-index: 3;
}

.content-right h1:before{
	content: '#';
	color:#1FBFBF;
}

.max .content-left{
    width: 0 !important;
    overflow: hidden;
    float: left !important;
}

.max .content-left .blockfill{
	padding: 0px;
	width: 0%;
}

.max .content-right .blockfill{
	padding: 5px;
	width: 0%;
}

.max .content-left .floatX{
    left: -40%;
}

.max .content-right{
    width: 100%;
}

.max .content-right .content-main{
    padding-left: 15%;
    padding-right: 15%;
}

.content-left a{
    text-decoration: none;
    color:white;
}

.bm{
    font-size: 20px;
	color:white;
	background: #1FBFBF;
	width: 100%;
	text-align: center;
	padding: 15px;
}

.bm:after{
    content:"}";
}

.bm:before{
    content:"Block Module: {";
}

.note{
    background: #9D9d9D;
    color:white;
    padding:5px;
    border-radius: 2px;
}

.note:before{
    content: "NOTE: ";
    color: #CC3333;
}

.menux{
    position: fixed;
    top: 40px;
    z-index: 9999;
    padding:6px;
    padding-left: 9px;
    padding-top: 9px;
    padding-right: 9px;
    color: #CC3333;
}

.menux:hover{
    cursor: pointer;
    color: #CC3333;
    background: #3D3d3D;
}

.floatX{
    position: fixed;
    z-index: 2;
    left: 20px;
}