*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', Helvetica, sans-serif;
    transition: all .3s;
}

body{
    background: #2d2d2d;
    color:white;
}

nav{
    background: #1D1D1D;
    color:white;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 10px;
    padding-top:  10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 8px black;
    z-index: 99999;
}

nav h1{
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}

nav input, .smitebar{
    display: inline-block;
    vertical-align: top;
    background: #ddd;
    color:black;
    border: 0;
    font-family: 'Varela Round', Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px;
    margin-top:-4px;
    width: calc(100% - 150px);
}

nav input:hover, nav input:focus{
    background: white;
    color:#1D1D1D;
}

nav a{
    text-decoration: none;
    color:White;
    display: inline-block;
    vertical-align: top;
    padding-left: 8px;
    padding-right: 8px;
    padding-top:5px;
}

.smartBack{
    background: #3d3d3d;
}

.roseFront{
    color:#CF3C44;
}

.resultBox{
    margin-top: 25px;
    width: 700px !important;
    margin-left:80px;
    margin-right: 160px;
}

.navSpacer{
    height: 50px;
    width: 100%;
}


.resultblock{
    color:White;
    padding:20px;
    position: relative;
}

.resultblock:hover{
    border-top-left-radius: 15px;
    background:#3D3D3D;
}

footer{
    background:#3D3D3D;
    width: 100%;
    padding:8px;
}

.resultblock *{    
    font-family: Arial, Helvetica, sans-serif;
}

.resultblock .title{
    font-size: 18px;
    text-decoration: none;
    color:white;
}

.resultblock .title:hover{
    color:gray;
}

.resultblock .desc{
    font-size: 15px;
}

.resultblock .root{
    font-size: 13px;
    text-decoration: none;
    color:gray;
}

.resultblock img{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.resultblock:hover img{
    opacity: 1;
}

.snapbox{
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 20px;
    height: 90%;
}

.snapbox p{
    color:gray;
    font-style: italic;
}


.hidden{
    visibility: hidden;
}

.resu{
    position: absolute;
    z-index: 999999;
    width:100%;
    top:50px;
}

.resu li{
    padding: 4px;
    text-align: center;
    /*background: rgba(255,255,255,0.8);
    color:black;*/
    background: #1D1D1D;
    color:white;
}

.resu li:hover{
    background: gray;
    cursor: pointer;
}

/*.stay{
    position: fixed;
    top:100px;
    right:4%;
    width: 30%;
    height: auto;
    z-index: 9999;
    opacity: 0;
    pointer-events:none;
}*/

.stay{
    position: fixed;
    top:100px;
    right:4.1%;
    height: 100%;
    z-index: 9999;
    width:30%;
    opacity: 0;
    pointer-events:none;
    background: #2d2d2d;
}

.stay img{
    width: 100%;
}

.stayPanel{
    position: fixed;
    top:120px;
    right:4%;
    width: 30%;
    height: auto;
    opacity: 0;
}

.stayPanel img{
    max-width: 100%;
    height: auto;
}

.plane{
   position: absolute;
   top: 0;left: 0;right: 0;bottom: 0;
   width: 100%;height:100%;
   z-index: 999999;
   background: #3D3D3D;
    text-align: center;
    padding-top: 20%;
}

.plane h1{
    font-size: 70px;
    text-shadow: 0px 0px 6px white;
}

.plane h1:hover{
    text-shadow: 0px 0px 8px white;
    cursor: pointer
}

.plane *{
    text-align: center;
}

.noTouch{    
    pointer-events:none;
}