
/* COLORS */

.pink-font{
	color:#FF51FD;
}

.pink-back{
	background: #FF51FD;
	color:white;
}

/* END OF COLORS */

*{
	margin: 0;
	padding: 0;
}

body{
	color:white;
	background-color: black;
	font-family: 'BioRhyme';
}

.CenterName{
	width: 80%;
	font-size: 170px;
	color:#FFA8CC !important;
	padding-left: 50px;
}

.shrinkName{
	font-size: 115px !important;
	display: block;
	margin-top: -110px;
	margin-left: 5px;
	color:#3D3B3B !important;
}

.spacer{
	height: 5000px;
}

.content p{
	padding: 50px;
	color: #3D3B3B;
	text-align: center;
	font-size: 25px;
}

.content h1{
	text-align: center;
	color: black;
}

.content{
	margin-top: 350px;
	margin-left: 40%;
	opacity: 0;
}

.sidecontent{
	opacity: 0;
	width: 55%;
	margin-left: 2%;
	margin-top: 100px;
}

.sidecontent video{
	width: 100%;
	border: 2px solid #2D2D2D;
}

.sidecontent h1{
	margin-bottom: 25px;
	font-size:50px;
	color:#2D2D2D;
}

.bgImage{
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -100;
}

.bgImage#p1{
	background: url("Moiza Images/Headshots/Acting/Photoshoot/DSC_0069.JPG");
	background-size: cover;
}

.bgImage#p2{
	background: url("j.jpg");
	background-size: cover;
	opacity: 0;
}

.bgImage#p3{
	background: url("fff.jpg");
	background-size: cover;
	opacity: 0;
}

.soc a{
	font-size: 45px !important;
	padding: 18px !important;
	text-decoration: none;
	color:white;
}

.soc{
	display: inline-block !important;
}

.socicon-twitter:hover{ color:#4da7de; }
.socicon-facebook:hover{ color:#3e5b98; }
.socicon-youtube:hover{ color: #e02a20; }
.socicon-vimeo:hover{ color:#51b5e7; }
.socicon-instagram:hover{ color:#000; }
.socicon-wordpress:hover{ color:#464646; }
.socicon-snapchat:hover{ color:#fffa37; }

.soc-email a:hover{
	color:#FF51FD;
}

.soc-email a{
	color:white;
	text-decoration: none;
}

nav{
	height: 50px;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
}

footer{
	height: 100px;
	background-color: #2D2D2D;
	color:white;
	text-align: center;
	width: 100%;
	margin:0;
	line-height: 100px;
	margin-top: 200px;
	opacity: .9
}